<md-dialog style="background-color: {{char.color}}">
    <md-card>
        <md-card-title>
            <md-card-title-media style="margin-top: 0; margin-right: 1em;">
                <div class="md-media-lg card-media">
                    <img ng-src="{{char.img}}"/>
                </div>
            </md-card-title-media>
            <md-card-title-text>
                <span class="md-headline">{{char.name}}</span>
                <span class="md-subhead" style="text-align: right">{{char.power}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" aria-label="Fav" ng-click="toggleFav()" ng-class="{'md-accent':char.fav}">
                <md-icon class="mdi mdi-heart"></md-icon>
            </md-button>
        </md-card-actions>
    </md-card>
</md-dialog>