<div id="listaChar">

    <md-content flex class="container">
        <md-button class="md-fab md-mini" ng-click="add()">
            <md-icon class="mdi mdi-plus"></md-icon>
        </md-button>

        <md-list>
            <md-list-item class="md-2-line" ng-repeat="char in charList track by $index" ng-click="details(char, $event)" style="border-left: 10px solid {{char.color}}">
                <img ng-src="{{char.img}}" class="md-avatar" alt="{{char.img}}" />
                <div class="md-list-item-text">
                    <h3>{{char.name}}</h3>
                    <p>{{char.power}}</p>
                </div>

                <div layout="row">
                    <md-icon class="mdi mdi-heart md-accent" ng-if="char.fav"></md-icon>

                    <md-button class="md-fab md-mini" ng-click="add(char)">
                        <md-icon class="mdi mdi-pencil"></md-icon>
                        <md-tooltip>Editar</md-tooltip>
                    </md-button>

                    <md-button class="md-fab md-mini" ng-click="delete(char)">
                        <md-icon class="mdi mdi-delete"></md-icon>
                        <md-tooltip>Eliminar</md-tooltip>
                    </md-button>
                </div>
            </md-list-item>
        </md-list>
    </md-content>

</div>