<div id="listaChar">

    <md-content flex class="container">
        <md-button class="md-fab md-mini" ng-click="add()">
            <md-icon class="mdi mdi-plus"></md-icon>
        </md-button>

        <md-list>
            <md-list-item class="md-2-line" ng-repeat="item in itemList" ng-click="details(item, $event)">
                <img ng-src="{{item.img}}" class="md-avatar" alt="{{item.img}}" />
                <div class="md-list-item-text">
                    <h3>{{item.name}} (x{{item.amount|| 0}})</h3>
                    <p>{{item.power}}</p>
                </div>

                <div layout="row">
                    <md-icon class="mdi mdi-crown" ng-repeat="i in ::getStars(item.rare) track by $index"></md-icon>

                    <md-button class="md-fab md-mini" ng-click="add(item)">
                        <md-icon class="mdi mdi-pencil"></md-icon>
                        <md-tooltip>Editar</md-tooltip>
                    </md-button>

                    <md-button class="md-fab md-mini" ng-click="delete(item)">
                        <md-icon class="mdi mdi-delete"></md-icon>
                        <md-tooltip>Eliminar</md-tooltip>
                    </md-button>
                </div>
            </md-list-item>
        </md-list>
    </md-content>

</div>