#main{
    height: calc(100vh - 64px);
    overflow: auto;
}

#background{
    min-height: 100%;

    background: rgb(183,222,237);
    background: -moz-linear-gradient(-45deg, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%);
    background: linear-gradient(135deg, rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=1 );
}

.container{
    margin: 1em;
    border-radius: 8px;
    background: rgba(255,255,255,0.9);
    padding: 1em;  

    form{
        padding: 8px 15px;
    }
}

.mdi{
    width:auto;
    height:auto;

    &:before{
        vertical-align: middle;
    }
}