<div id="dex">

    <md-content flex class="container">
        <md-button class="md-fab md-mini" ng-click="clear()">
            <md-icon class="mdi mdi-delete"></md-icon>
        </md-button>

        <md-progress-linear md-mode="indeterminate" ng-if="adding"></md-progress-linear>

        <div layout="row" layout-align="center center" layout-wrap>
            <md-button ng-repeat="pag in nPag track by $index" ng-click="setPage($index)" class="md-raised" ng-class="{'md-accent':page === $index,'md-primary':page !== $index}">
                {{$index + 1}}
            </md-button>
        </div>

        <div layout="row" layout-wrap>
            <div class="layout-row layout-align-start-center pk" ng-class="{'captured':pk.captured}" flex
                 ng-repeat="pk in listaPk| limitTo: limit: page * limit track by $index">

                <md-button class="md-icon-button" ng-click="toggle(pk)" aria-label="pk">
                    <md-icon class="mdi mdi-pokeball"></md-icon>
                </md-button>
                <div layout="row" class="layout-row layout-align-start-center" ng-click="details(pk, $event)" flex>
                    <span class="number">{{pk.num}}</span>
                    <span class="name" flex>{{pk.species}}</span>
                    <span ng-repeat="type in pk.types" class="{{type}} type-badge">{{type}}</span>
                </div>
            </div>
        </div>

    </md-content>

</div>