<div id="dex">

    <md-content flex class="container">

        <div layout="row" layout-align="center center" layout-wrap>
            <md-button ng-repeat="pag in nPag track by $index" ng-click="setPage($index)" class="md-raised" ng-class="{'md-accent':page === $index,'md-primary':page !== $index}">
                {{$index + 1}}
            </md-button>
        </div>

        <div layout="row" layout-wrap>
            <pk-template pk="pk" ng-repeat="pk in listaPk| limitTo: limit: page * limit track by pk.id" flex-xs="100" flex-sm="45" flex-gt-sm="30"></pk-template>
        </div>

        <div layout="row" layout-align="center center" layout-wrap>
            <md-button ng-repeat="pag in nPag track by $index" ng-click="setPage($index)" class="md-raised" ng-class="{'md-accent':page === $index,'md-primary':page !== $index}">
                {{$index + 1}}
            </md-button>
        </div>
    </md-content>

</div>