<div id="dex">

    <md-content flex class="container">
        <md-button class="md-icon-button" ui-sref="app.minidex.main.list">
            <md-icon class="mdi mdi-arrow-left"></md-icon>
        </md-button>
        
        <h2 style="text-align: center">#{{::pk.num}} {{::pk.species}}</h2>

        <div layout="row" layout-align="center center">
            <div class="img-container layout-column layout-align-center-center" style='margin-right: 2em'>
                <img ng-src="http://www.smogon.com/dex/media/sprites/xy/{{::pk.species|lowercase}}.gif" style='margin-bottom: 1em'/>
                <div layout="row" layout-align="center">
                    <span ng-repeat="type in ::pk.types" class="{{::type}} type-badge">{{::type}}</span>
                </div>
            </div>

            <div class="layout-column layout-align-space-around-center">
                <div layout="column">
                    <label>Habilidades</label>
                    <a ui-sref="app.minidex.ability.details({id: '{{ab}}'})" ng-repeat="(n,ab) in pk.abilities">{{::ab}} ({{::n}})</a>
                </div>
            </div>
        </div>

        <div class='stat-box'>
            <div ng-repeat="(key,value) in ::pk.baseStats" layout="row" class="layout-align-start-center">
                <p style="width: 100px; margin: 4px 0;">{{::key|uppercase}}: {{::value}}</p>
                <md-progress-linear md-mode="determinate" value="{{::(100 * value / 255)}}"></md-progress-linear>
            </div>
        </div>

    </md-content>

</div>